p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
}
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.5em;
}
h2 {
  font-family: "Terebuchet MS", "times New Roman", serif;
  font-size: 2em;
  /* letter-spacing: -0.1em; */
  word-spacing: 1em;
}
h3.heading {
  font-size: 2em;
}
p.important {
  font-size: 2em;
  font-weight: 100;
  line-height: 1.2em;
  text-align: left;
  text-indent: 1em;
}
.emphasized {
  font-style: italic;
  font-size: 1.5em;
}
.standout {
  color: red;
}
blockquote {
  font-size: 1.4em;
  line-height: 1em;
  color: darkslategrey;
}
.border {
  border-bottom: 5px solid red;
  padding: 0.1em;
}
.dottedborder {
  border: 1px dotted red;
  line-height: 2em;
}
body {
  font-family: Georgia, serif;
  font-size: 1.1em;
  color: darkslategray;
}
img.image-alignment {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.float-around-image {
  float: left;
  margin: 0 2em 0 3em;
}
p.no-wrap {
  clear: both;
}
a {
  color: cyan;
}
a:hover {
  color: red;
  font-weight: 600;
  text-decoration: none;
}
a:active {
  font-size: 2em;
}
ul {
  margin: 0 2em 0 1em;
  list-style-position: inside;
  list-style-type: circle;
  font-size: 1.2em;
}
ol {
  margin: 1.5em 2em 0 1em;
  list-style-type: upper-roman;
}
li {
  margin: 0.4em;
}
th,td{
  border: 1px solid rgb(219, 13, 13);
  padding:1em 1em 1em 1em;
  /* width:20%; */
  text-align:center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  font-weight: 900;
  color:gray;
  color:grey;
  letter-spacing: 0.1em;
}
table{
  /* border-collapse:collapse; */
  border-right:4px solid orange;
  border-left:4px solid orange;
  border-spacing:0.5em;
  width:50%;
  /* text-align:center; */
}
/* this is comment */
body{
  background-color:slategray;
  width:90%;
  margin:0 auto 0 auto ;
}